@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color:#F6F6F6;
  padding:50px 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 770px;
  width: 100%;
  margin:0 auto;
}
header{
  padding-bottom:5%;
}

.header_top{
  display:flex;
  justify-content:space-between;
  font-weight:650;
}
.header_top h1{
  font-size:90px;
}
.header_top span{
  font-size:30px;
  align-self:flex-end;
}
.header_bottom{
  display:flex;
  font-size:10px;
}
.header_bottom :nth-child(3){
  max-width:500px;
  flex-grow:1;
}
.header_bottom p{
  margin:10px;
}

section{
  max-width:770px;
  width:100%;
}

.blank {
  width:100%;
  padding-top:5%;
}

.line{
  display:flex;
  width:100%;
  overflow:hidden;
}

.circle1{
  background:#C4FFFF;
  width:31.33%;
  padding-top:31.33%;
  margin:1%;
  border-radius:100%;
  height:0px;
}

.circle2{
  background:#424242;
  width:31.33%;
  padding-top:31.33%;
  margin:1%;
  border-radius:100%;
  height:0px;
}
.circle3{
  background:#00FF29;
  width:31.33%;
  padding-top:31.33%;
  margin:1%;
  border-radius:100%;
  height:0px;
}


